body {
    background-color: #fefefe;
    margin: 0px;
    padding: 0px;
    font-family: "Jost", sans-serif;

}

h3 {
    margin: 0px;
}

p {
    margin: 0px;
    color: #262626;
}

a {
    text-decoration: none;
    color: #262626;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}

.nav {
    background-color: #157851;
    padding: 30px 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.logo a {
    font-size: 40px;
    font-weight: bold;
    color: #fefefe;
}

.nav-links a {
    margin: 0 10px;
    font-size: 18px;
    color: #fefefe;
    font-weight: bold;
}

.hero {
    background: #157851;
    padding: o0px 100px;
}
.hero-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-content {
    padding: 50px 0px;
}

.hero-content h1 {
    font-size: 80px;
    max-width: 500px;
    margin: 0px;
    color: #f6c72f;
    font-weight: 800;
}

.hero-content p {
    font-size: 24px;
    font-weight: 500;
    color: #fefefe;
    max-width: 500px;
    margin-bottom: 40px;

}

.ticket-btn {
    padding: 15px 20px;
    background: #3c9d5a;
    color: #fefefe;
    border-radius: 6px;
    font-weight: 600;
    font-size: 20px;
}

.hero-image img {
    max-height: 600px;

}

.animals {
    padding: 100px 100px;
}

.animals h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
    font-weight: 800;


}

.animal-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.animal-card {
    background: #f4f4f4;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid rgba(34, 34, 34, 0.1);
    width: 300px;
}

.animal-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 15px;
}
.animal-card img {
    border-radius: 10px 10px 0px 0px;
}

img {
    max-width: 100%;
    display: block;
}

.facilities {
    background-color: #f4f4f4;
    padding: 60px 100px;
}

.facilities h2 {
    font-size: 40px;
    text-align: center;
    color: #262626;
    margin-bottom: 80px;
    font-weight: 800;
}

.facility-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.facility {
    background: #fff;
    padding: 20px;
    width: 350px;
    border-radius: 6px;
    border: 1px solid rgba(34, 34, 34, 0.1);
}

.facility-detail {
    margin-top: 40px;
}
.facility-detail h3{
    font-size: 22px;font-weight: 600;
}

.facility p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.facility img {
    max-width: 25%;
}

.tickets {
    background-color: #fff;
    padding: 60px 100px;
}

.tickets h2 {
    font-size: 40px;
    text-align: center;
    color: #262626;
    margin-bottom: 80px;
    font-weight: 800;
}

.ticket-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.ticket {
    background: #157851;
    padding: 20px;
    width: 350px;
    border-radius: 6px;
    text-align: center;
}

.ticket h3 {
    color: #fff;
}

.ticket p {
    font-size: 40px;
    font-weight: 800;
    color: #f6c72f;;
    margin-top: 40px;
}

.gallery {
    background-color: #f4f4f4;
    padding: 60px 100px;
}

.gallery h2 {
    font-size: 40px;
    text-align: center;
    color: #262626;
    margin-bottom: 80px;
    font-weight: 800;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.gallery-images img {
    width: 300px;
    height: 260px;
    object-fit: cover;
    border-radius: 6px;
}

.location h2 {
    font-size: 40px;
    text-align: center;
    color: #262626;
    margin-bottom: 80px;
    font-weight: 800;
}

.location {
    padding: 50px 100px;
}

.location-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.map,
.contact-info {
    flex: 1 1 45%;
    max-width: 500px;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 6px;
}

.contact-info {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    border: 1px solid rgba(34, 34, 34, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
    color: #157851;
    margin-bottom: 15px;
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 15px;
}

.footer {
    background-color: #157851;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
}

footer p {
    color: #fff;
    font-weight: 600;
}

.animal-profile {
    max-width: 900px;
    margin: 40px auto;
    line-height: 1.6;
    color: #262626;
}

.animal-header {
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.animal-header img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 50px;
    border: 1px solid rgba(34, 34, 34, 0.1);
}

.animal-info ul {
    list-style: none;
    padding: 0;
}

.animal-info li {
    margin-bottom: 6px;
}

.animal-description,
.animal-extra {
    margin-top: 30px;
}

.animal-description p {
    margin-bottom: 15px;
}

.about-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.about-link {
    font-size: 16px;
    font-weight: 600;
    background-color: #157851;
    padding: 10px 20px;
    border-radius: 6px;
    color: #fff;
    text-align: center;
}

.about-zoo {
    padding: 80px 200px;
    color: #262626;
}
.about-zoo h1{
    margin-bottom: 50px;
}

.about-text p {
    line-height: 1.9;
    font-size: 1rem;
    text-align: justify;
}

.about-text strong {
    color: #1a5721;
    font-weight: 600;
}